<div class="main-content"></div>
<div class="edit-profile-container">
	<h2>Edit Profile</h2>

	<form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
		<mat-form-field appearance="fill" class="form-group">
			<mat-label for="name">Name</mat-label>
			<input matInput type="text" id="name" formControlName="name" required>
		</mat-form-field>
		<br>
		<mat-form-field appearance="fill" class="form-group">
			<mat-label for="email">Email</mat-label>
			<input matInput type="email" id="email" formControlName="email" required>
		</mat-form-field>
		<br>
		<mat-form-field appearance="fill" class="form-group">
			<mat-label for="phone">Phone</mat-label>
			<input matInput type="tel" id="phone" formControlName="phone">
		</mat-form-field>
		<br>

		<mat-form-field appearance="fill" class="form-group">
			<mat-label for="company">Organization</mat-label>
			<input matInput type="text" id="company" formControlName="company">
		</mat-form-field>

		<!-- File Upload Section -->
		<div class="file-upload-section">
			<!-- Hidden File Input -->
			<input type="file" #fileInput (change)="onFilesSelected($event)" multiple style="display: none;" />

			<!-- Custom Button to Trigger File Selection -->
			<button type="button" mat-raised-button color="accent" (click)="fileInput.click()">Choose Files</button>

			<!-- Display Selected Files -->
			<div *ngIf="selectedFiles.length > 0">
				<div>Added these Files:</div>
				<div>Please click upload before submitting</div>
				<ul>
					<li *ngFor="let file of selectedFiles; let i = index">
						{{ file.name }}
						<button mat-icon-button (click)="removeFile(i)">
							<mat-icon>delete</mat-icon>
						</button>
					</li>
				</ul>
			</div>

			<!-- Upload Button -->
			<button type="button" (click) ="onUpload()" mat-raised-button color="primary" 
				[disabled]="selectedFiles.length === 0">Upload</button>
		</div>

		<!-- Save Changes Button -->
		<button mat-raised-button color="primary" type="submit">Save Changes</button>
	</form>
</div>