.event-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 80%;
  margin: 4% auto;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #aaa;
}

.header-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 4% auto;
  padding: 4%;
}

.event-card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
}

.event-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-info {
  padding: 0.5%;
}

.ticket-type-selection {
  position: relative;
  z-index: 10;
}

.sponsor-section {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 15;
}

mat-grid-tile h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

mat-grid-tile p {
  font-size: 14px;
}

mat-grid-tile-content {
  margin-bottom: 5px;
}

mat-grid-list {
  margin-bottom: 5px;
}
