<div class="home-container">
  <header class="home-header">
    <h1>Welcome to the Event Management System</h1>
    <p>Discover, Create, and Manage Your Events Seamlessly</p>
  </header>

  <section class="home-features">
    <div class="feature">
      <h2>Find Events</h2>
      <p>
        Browse events based on location, categories, and personal interests.
      </p>
    </div>
    <div class="feature">
      <h2>Create Events</h2>
      <p>
        Easily create and manage events, track attendees, and handle ticketing.
      </p>
    </div>
    <div class="feature">
      <h2>Analytics & Reporting</h2>
      <p>Get detailed insights and reports on event performance.</p>
    </div>
  </section>
  <div>
    <button (click)="buttonToTS()">click for data. TO REMOVE</button>
  </div>
  <footer class="home-footer">
    <button routerLink="/events" class="btn-explore">Explore Events</button>
  </footer>
</div>
