<div class="event-header-content">
	<mat-card-title>
		<h2 class="event-name">Event Name: {{ event.EventName }}</h2>
	</mat-card-title>
	<mat-card-subtitle>
		<!-- <h3 class="organizer">Organized by: {{ event.Organizer }}</h3> -->
	</mat-card-subtitle>
	<mat-card-subtitle class="event-details-group">
		<h3>Date: {{ event.EventDate | date: 'longDate' }}</h3>
		<h3>Venue: {{ event.VenueName }}</h3>
		<h3>Location: {{ event.VenueLocation }}</h3>
	</mat-card-subtitle>
</div>

<mat-card-content>
	<!-- Sponsor Information -->
	<div *ngFor="let sponsor of eventSponsor" class="sponsor-card-container">
		<mat-card class="sponsor-card">
			<mat-card-header>
				<mat-card-title *ngIf="sponsor.User?.Name" class="card-title">
					Name: {{ sponsor.User.Name }}
				</mat-card-title>
				<mat-card-subtitle *ngIf="sponsor.User?.Email" class="card-subtitle">
					Email: {{ sponsor.User.Email }}
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<h4>{{ sponsor.SponsorLevel }} Sponsor</h4>
				<p *ngIf="sponsor.SponsorshipAmount" class="card-content">
					Sponsored Amount: {{ sponsor.SponsorshipAmount }}
				</p>
				<p *ngIf="sponsor.User?.Organization?.OrganizationName" class="card-content">
					Organization Name: {{ sponsor.User.Organization.OrganizationName }}
				</p>
			</mat-card-content>
		</mat-card>
	</div>
</mat-card-content>

<mat-card-actions align="end">
	<!-- Add any actions or buttons here if needed -->
</mat-card-actions>